Perform the following operations on Age-Income dataset (Age-
Income-Dataset.csv)

Provide summary statistics (mean, median, minimum, maximum,
standard deviation) for numeric variables with and without using
any library functions.
Provide summary statistics of income grouped by the age groups.
Create a list that contains a numeric value for each response to the
categorical variable.

In [21]:
import numpy as np
import pandas as pd

import math   # for finding standard deviation without using any library funcitons
import statistics

In [14]:
dataframe = pd.read_excel('/content/Age-Income-Dataset.xlsx')
dataframe.head()

          Age  Income
0       Young   25000
1  Middle Age   54000
2         Old   60000
3       Young   15000
4       Young   45000

### Without Using Any Library functions

In [15]:
income = dataframe['Income']

Mean

In [16]:
mean = sum(income)/len(income)
print(mean)

50966.0

Median

In [17]:
n = len(income)
if n % 2:
  median = sorted(income)[round(0.5 * (n-1))]
else:
  x_ord, index = sorted(income), round(0.5 * n)
  median = 0.5 * (x_ord[index - 1] + x_ord[index])
print(median)

46850.0

minimum

In [18]:
print(income.min())

15000

maximum

In [19]:
print(income.max())

93000

standard deviation

In [20]:
variance = sum(pow(x - mean, 2) for x in income) / len(income)  
standard_deviation = math.sqrt(variance)
print(standard_deviation)

20884.6509187968

### Using Library Functions

using numpy

In [23]:
# Calculating Mean

np_income = np.array(income)
mean = np.mean(np_income)
print("Mean: ", mean)

# Calculating Median

median = np.median(np_income)
print("Mode: ", median)

# standard deviation

variance = np.var(np_income, ddof=1)    # Here the ddof stands for delta degrees of freedom. 
            # This parameter allows the proper calculation of s2, with (n âˆ’ 1) in the denominator instead of n.

standard_deviation = math.sqrt(variance)
print("Standard Deviation: ", standard_deviation)

Mean:  50966.0
Mode:  46850.0
Standard Deviation:  21096.683267707253

using pandas

In [24]:
pd_income = pd.Series(income)

# Calculating mean

mean = pd_income.mean()
print("Mean: ", mean)

# Calculating median

median = pd_income.median()
print("Mode: ", median)

# Calculating standard deviation

variance = pd_income.var(ddof=1)
standard_deviation = math.sqrt(variance)
print("Standard Deviation: ", standard_deviation)

Mean:  50966.0
Mode:  46850.0
Standard Deviation:  21096.683267707253

using statistics

In [27]:
# Calculating Mean
print("Mean: ", statistics.mean(income))

# Calculating Median
print("Median: ", statistics.median(income))

# Calculating Standard Deviation
print("Standard Deviation: ", math.sqrt(statistics.variance(income)))

Mean:  50966
Median:  46850.0
Standard Deviation:  21096.683267707253

**Provide summary statistics of income grouped by the age groups.**

In [32]:
groupedByage = dataframe.groupby('Age')
income_groupedByAge = groupedByage['Income'].apply(list).reset_index()
income_groupedByAge

          Age                                             Income
0  Middle Age  [54000, 27000, 29000, 57000, 56000, 90000, 930...
1         Old  [60000, 52000, 80000, 75000, 35000, 43000, 630...
2       Young  [25000, 15000, 45000, 65000, 70000, 30000, 230...

In [39]:
middle = income_groupedByAge.loc[0, 'Income']
old = income_groupedByAge.loc[1, 'Income']
young = income_groupedByAge.loc[2, 'Income']

Statistic Summary

In [51]:
np_middle = np.array(middle)
np_old = np.array(old)
np_young = np.array(young)

Mean

In [52]:

# Mean
print("Mean: ")
print("Middle Age: ", np_middle.mean())
print("Old Age: ", np_old.mean())
print("Young Age: ", np_young.mean())

Mean:
Middle Age:  52453.333333333336
Old Age:  53942.10526315789
Young Age:  46037.5

Median

In [53]:
# Median

print("Median: ")
print("Middle Age: ", np.median(np_middle))
print("Old Age: ", np.median(np_old))
print("Young Age: ", np.median(np_young))

Median:
Middle Age:  53200.0
Old Age:  45300.0
Young Age:  41500.0

Standard Deviation

In [54]:

# Standard Deviation

print("Standard Deviation: ")
print("Middle Age: ", math.sqrt(np.var(np_middle, ddof=1)))
print("Old Age: ", math.sqrt(np.var(np_old, ddof=1)))
print("Young Age: ", math.sqrt(np.var(np_young, ddof=1)))

Standard Deviation:
Middle Age:  20497.800114251517
Old Age:  20868.165968220423
Young Age:  22356.859499193233

Minimum

In [55]:
# Minimum
print("Minimum: ")
print("Middle Age: ", min(middle))
print("Old Age: ", min(old))
print("Young Age: ", min(young))

Minimum:
Middle Age:  25600
Old Age:  24500
Young Age:  15000

Maximum

In [56]:
# Maximum
print("Maximum: ")
print("Middle Age: ", max(middle))
print("Old Age: ", max(old))
print("Young Age: ", max(young))

Maximum:
Middle Age:  93000
Old Age:  89700
Young Age:  87000

**Create a list that contains a numeric value for each response to the categorical variable.**

In [60]:
df_categorical = dataframe
from sklearn.preprocessing import LabelEncoder
label_encoder = LabelEncoder()

df_categorical['Age'] = label_encoder.fit_transform(df_categorical['Age'])
df_categorical

    Age  Income
0     2   25000
1     0   54000
2     1   60000
3     2   15000
4     2   45000
5     2   65000
6     2   70000
7     2   30000
8     0   27000
9     2   23000
10    2   48000
11    1   52000
12    2   33000
13    1   80000
14    1   75000
15    1   35000
16    0   29000
17    0   57000
18    1   43000
19    0   56000
20    1   63000
21    1   32000
22    1   45000
23    1   89000
24    0   90000
25    0   93000
26    2   80000
27    2   87000
28    2   38000
29    2   23000
30    0   38900
31    0   53200
32    1   43800
33    0   25600
34    0   65400
35    1   76800
36    1   89700
37    1   41800
38    2   31900
39    1   25600
40    0   45700
41    1   35600
42    2   54300
43    0   65400
44    1   67800
45    1   24500
46    0   34900
47    1   45300
48    2   68400
49    0   51700